src/main/resources/wsdl/ProvisioningService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ProvisioningServiceService" targetNamespace="http://oscm.org/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://oscm.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://oscm.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://oscm.org/xsd" version="1.0">

  <xs:element name="activateInstance" type="tns:activateInstance"/>

  <xs:element name="activateInstanceResponse" type="tns:activateInstanceResponse"/>

  <xs:element name="asyncCreateInstance" type="tns:asyncCreateInstance"/>

  <xs:element name="asyncCreateInstanceResponse" type="tns:asyncCreateInstanceResponse"/>

  <xs:element name="asyncModifySubscription" type="tns:asyncModifySubscription"/>

  <xs:element name="asyncModifySubscriptionResponse" type="tns:asyncModifySubscriptionResponse"/>

  <xs:element name="asyncUpgradeSubscription" type="tns:asyncUpgradeSubscription"/>

  <xs:element name="asyncUpgradeSubscriptionResponse" type="tns:asyncUpgradeSubscriptionResponse"/>

  <xs:element name="createInstance" type="tns:createInstance"/>

  <xs:element name="createInstanceResponse" type="tns:createInstanceResponse"/>

  <xs:element name="createUsers" type="tns:createUsers"/>

  <xs:element name="createUsersResponse" type="tns:createUsersResponse"/>

  <xs:element name="deactivateInstance" type="tns:deactivateInstance"/>

  <xs:element name="deactivateInstanceResponse" type="tns:deactivateInstanceResponse"/>

  <xs:element name="deleteInstance" type="tns:deleteInstance"/>

  <xs:element name="deleteInstanceResponse" type="tns:deleteInstanceResponse"/>

  <xs:element name="deleteUsers" type="tns:deleteUsers"/>

  <xs:element name="deleteUsersResponse" type="tns:deleteUsersResponse"/>

  <xs:element name="modifySubscription" type="tns:modifySubscription"/>

  <xs:element name="modifySubscriptionResponse" type="tns:modifySubscriptionResponse"/>

  <xs:element name="saveAttributes" type="tns:saveAttributes"/>

  <xs:element name="saveAttributesResponse" type="tns:saveAttributesResponse"/>

  <xs:element name="sendPing" type="tns:sendPing"/>

  <xs:element name="sendPingResponse" type="tns:sendPingResponse"/>

  <xs:element name="updateUsers" type="tns:updateUsers"/>

  <xs:element name="updateUsersResponse" type="tns:updateUsersResponse"/>

  <xs:element name="upgradeSubscription" type="tns:upgradeSubscription"/>

  <xs:element name="upgradeSubscriptionResponse" type="tns:upgradeSubscriptionResponse"/>

  <xs:complexType name="deleteUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="applicationUserId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="email" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="locale" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="roleIdentifier" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="userFirstName" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="userId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="userLastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="baseResult">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="desc" type="xs:string"/>
      <xs:element form="qualified" name="rc" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="userResult">
    <xs:complexContent>
      <xs:extension base="tns:baseResult">
        <xs:sequence>
          <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="users" nillable="true" type="tns:user"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="asyncCreateInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:instanceRequest"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="instanceRequest">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="attributeValue" nillable="true" type="tns:serviceAttribute"/>
      <xs:element form="qualified" minOccurs="0" name="defaultLocale" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="loginUrl" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="organizationId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="organizationName" type="xs:string"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="parameterValue" nillable="true" type="tns:serviceParameter"/>
      <xs:element form="qualified" minOccurs="0" name="referenceId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="subscriptionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceAttribute">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="attributeId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="controllerId" type="xs:string"/>
      <xs:element form="qualified" name="encrypted" type="xs:boolean"/>
      <xs:element form="qualified" minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceParameter">
    <xs:sequence>
      <xs:element form="qualified" name="encrypted" type="xs:boolean"/>
      <xs:element form="qualified" minOccurs="0" name="parameterId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asyncCreateInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="upgradeSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="subscriptionId" type="xs:string"/>
      <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="upgradeSubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="tns:instanceRequest"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:instanceResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="instanceResult">
    <xs:complexContent>
      <xs:extension base="tns:baseResult">
        <xs:sequence>
          <xs:element form="qualified" minOccurs="0" name="instance" type="tns:instanceInfo"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="instanceInfo">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="accessInfo" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="baseUrl" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="loginPath" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendPing">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sendPingResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="organizationId" type="xs:string"/>
      <xs:element minOccurs="0" name="subscriptionId" type="xs:string"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateUsersResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifySubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="subscriptionId" type="xs:string"/>
      <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modifySubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asyncUpgradeSubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="subscriptionId" type="xs:string"/>
      <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asyncUpgradeSubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asyncModifySubscription">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="subscriptionId" type="xs:string"/>
      <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterValues" type="tns:serviceParameter"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="asyncModifySubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" name="organizationId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeValues" type="tns:serviceAttribute"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveAttributesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activateInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activateInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deactivateInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="instanceId" type="xs:string"/>
      <xs:element minOccurs="0" name="requestingUser" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deactivateInstanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:baseResult"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createUsers">
    <wsdl:part name="parameters" element="tns:createUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsersResponse">
    <wsdl:part name="parameters" element="tns:updateUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteInstanceResponse">
    <wsdl:part name="parameters" element="tns:deleteInstanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInstance">
    <wsdl:part name="parameters" element="tns:createInstance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asyncCreateInstanceResponse">
    <wsdl:part name="parameters" element="tns:asyncCreateInstanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asyncUpgradeSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:asyncUpgradeSubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsers">
    <wsdl:part name="parameters" element="tns:updateUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asyncModifySubscriptionResponse">
    <wsdl:part name="parameters" element="tns:asyncModifySubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveAttributesResponse">
    <wsdl:part name="parameters" element="tns:saveAttributesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsersResponse">
    <wsdl:part name="parameters" element="tns:deleteUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPingResponse">
    <wsdl:part name="parameters" element="tns:sendPingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateInstance">
    <wsdl:part name="parameters" element="tns:activateInstance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateInstance">
    <wsdl:part name="parameters" element="tns:deactivateInstance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsers">
    <wsdl:part name="parameters" element="tns:deleteUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateInstanceResponse">
    <wsdl:part name="parameters" element="tns:deactivateInstanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asyncCreateInstance">
    <wsdl:part name="parameters" element="tns:asyncCreateInstance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upgradeSubscription">
    <wsdl:part name="parameters" element="tns:upgradeSubscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendPing">
    <wsdl:part name="parameters" element="tns:sendPing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateInstanceResponse">
    <wsdl:part name="parameters" element="tns:activateInstanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteInstance">
    <wsdl:part name="parameters" element="tns:deleteInstance">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInstanceResponse">
    <wsdl:part name="parameters" element="tns:createInstanceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upgradeSubscriptionResponse">
    <wsdl:part name="parameters" element="tns:upgradeSubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifySubscription">
    <wsdl:part name="parameters" element="tns:modifySubscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifySubscriptionResponse">
    <wsdl:part name="parameters" element="tns:modifySubscriptionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsersResponse">
    <wsdl:part name="parameters" element="tns:createUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asyncUpgradeSubscription">
    <wsdl:part name="parameters" element="tns:asyncUpgradeSubscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="asyncModifySubscription">
    <wsdl:part name="parameters" element="tns:asyncModifySubscription">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveAttributes">
    <wsdl:part name="parameters" element="tns:saveAttributes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ProvisioningService">
    <wsdl:operation name="deleteUsers">
      <wsdl:input name="deleteUsers" message="tns:deleteUsers">
    </wsdl:input>
      <wsdl:output name="deleteUsersResponse" message="tns:deleteUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUsers">
      <wsdl:input name="createUsers" message="tns:createUsers">
    </wsdl:input>
      <wsdl:output name="createUsersResponse" message="tns:createUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asyncCreateInstance">
      <wsdl:input name="asyncCreateInstance" message="tns:asyncCreateInstance">
    </wsdl:input>
      <wsdl:output name="asyncCreateInstanceResponse" message="tns:asyncCreateInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upgradeSubscription">
      <wsdl:input name="upgradeSubscription" message="tns:upgradeSubscription">
    </wsdl:input>
      <wsdl:output name="upgradeSubscriptionResponse" message="tns:upgradeSubscriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInstance">
      <wsdl:input name="createInstance" message="tns:createInstance">
    </wsdl:input>
      <wsdl:output name="createInstanceResponse" message="tns:createInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPing">
      <wsdl:input name="sendPing" message="tns:sendPing">
    </wsdl:input>
      <wsdl:output name="sendPingResponse" message="tns:sendPingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteInstance">
      <wsdl:input name="deleteInstance" message="tns:deleteInstance">
    </wsdl:input>
      <wsdl:output name="deleteInstanceResponse" message="tns:deleteInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsers">
      <wsdl:input name="updateUsers" message="tns:updateUsers">
    </wsdl:input>
      <wsdl:output name="updateUsersResponse" message="tns:updateUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifySubscription">
      <wsdl:input name="modifySubscription" message="tns:modifySubscription">
    </wsdl:input>
      <wsdl:output name="modifySubscriptionResponse" message="tns:modifySubscriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asyncUpgradeSubscription">
      <wsdl:input name="asyncUpgradeSubscription" message="tns:asyncUpgradeSubscription">
    </wsdl:input>
      <wsdl:output name="asyncUpgradeSubscriptionResponse" message="tns:asyncUpgradeSubscriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asyncModifySubscription">
      <wsdl:input name="asyncModifySubscription" message="tns:asyncModifySubscription">
    </wsdl:input>
      <wsdl:output name="asyncModifySubscriptionResponse" message="tns:asyncModifySubscriptionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAttributes">
      <wsdl:input name="saveAttributes" message="tns:saveAttributes">
    </wsdl:input>
      <wsdl:output name="saveAttributesResponse" message="tns:saveAttributesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateInstance">
      <wsdl:input name="activateInstance" message="tns:activateInstance">
    </wsdl:input>
      <wsdl:output name="activateInstanceResponse" message="tns:activateInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deactivateInstance">
      <wsdl:input name="deactivateInstance" message="tns:deactivateInstance">
    </wsdl:input>
      <wsdl:output name="deactivateInstanceResponse" message="tns:deactivateInstanceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvisioningServiceServiceSoapBinding" type="tns:ProvisioningService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="deleteUsers">
      <soap:operation soapAction="urn:deleteUsers" style="document"/>
      <wsdl:input name="deleteUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUsers">
      <soap:operation soapAction="urn:createUsers" style="document"/>
      <wsdl:input name="createUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asyncCreateInstance">
      <soap:operation soapAction="urn:asyncCreateInstance" style="document"/>
      <wsdl:input name="asyncCreateInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="asyncCreateInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upgradeSubscription">
      <soap:operation soapAction="urn:upgradeSubscription" style="document"/>
      <wsdl:input name="upgradeSubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="upgradeSubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendPing">
      <soap:operation soapAction="urn:sendPing" style="document"/>
      <wsdl:input name="sendPing">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendPingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInstance">
      <soap:operation soapAction="urn:createInstance" style="document"/>
      <wsdl:input name="createInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteInstance">
      <soap:operation soapAction="urn:deleteInstance" style="document"/>
      <wsdl:input name="deleteInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUsers">
      <soap:operation soapAction="urn:updateUsers" style="document"/>
      <wsdl:input name="updateUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifySubscription">
      <soap:operation soapAction="urn:modifySubscription" style="document"/>
      <wsdl:input name="modifySubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifySubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asyncUpgradeSubscription">
      <soap:operation soapAction="urn:asyncUpgradeSubscription" style="document"/>
      <wsdl:input name="asyncUpgradeSubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="asyncUpgradeSubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="asyncModifySubscription">
      <soap:operation soapAction="urn:asyncModifySubscription" style="document"/>
      <wsdl:input name="asyncModifySubscription">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="asyncModifySubscriptionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAttributes">
      <soap:operation soapAction="urn:saveAttributes" style="document"/>
      <wsdl:input name="saveAttributes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveAttributesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateInstance">
      <soap:operation soapAction="urn:activateInstance" style="document"/>
      <wsdl:input name="activateInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="activateInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deactivateInstance">
      <soap:operation soapAction="urn:deactivateInstance" style="document"/>
      <wsdl:input name="deactivateInstance">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deactivateInstanceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvisioningServiceService">
    <wsdl:port name="ProvisioningServicePort" binding="tns:ProvisioningServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ProvisioningServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
