oscm-paymentprocessing/src/main/resources/wsdl/psp/PaymentServiceProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PaymentServiceProviderService" targetNamespace="http://oscm.org/xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://oscm.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://oscm.org/xsd" schemaLocation="PaymentServiceProvider_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="determineReregistrationLink">
    <wsdl:part name="parameters" element="tns:determineReregistrationLink">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentDeregistrationException">
    <wsdl:part name="PaymentDeregistrationException" element="tns:PaymentDeregistrationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="determineRegistrationLink">
    <wsdl:part name="parameters" element="tns:determineRegistrationLink">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="determineReregistrationLinkResponse">
    <wsdl:part name="parameters" element="tns:determineReregistrationLinkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargeResponse">
    <wsdl:part name="parameters" element="tns:chargeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PSPCommunicationException">
    <wsdl:part name="PSPCommunicationException" element="tns:PSPCommunicationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="determineRegistrationLinkResponse">
    <wsdl:part name="parameters" element="tns:determineRegistrationLinkResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="charge">
    <wsdl:part name="parameters" element="tns:charge">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deregisterPaymentInformation">
    <wsdl:part name="parameters" element="tns:deregisterPaymentInformation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deregisterPaymentInformationResponse">
    <wsdl:part name="parameters" element="tns:deregisterPaymentInformationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PSPProcessingException">
    <wsdl:part name="PSPProcessingException" element="tns:PSPProcessingException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentServiceProvider">
    <wsdl:operation name="determineReregistrationLink">
      <wsdl:input name="determineReregistrationLink" message="tns:determineReregistrationLink">
    </wsdl:input>
      <wsdl:output name="determineReregistrationLinkResponse" message="tns:determineReregistrationLinkResponse">
    </wsdl:output>
      <wsdl:fault name="PSPCommunicationException" message="tns:PSPCommunicationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="charge">
      <wsdl:input name="charge" message="tns:charge">
    </wsdl:input>
      <wsdl:output name="chargeResponse" message="tns:chargeResponse">
    </wsdl:output>
      <wsdl:fault name="PSPCommunicationException" message="tns:PSPCommunicationException">
    </wsdl:fault>
      <wsdl:fault name="PSPProcessingException" message="tns:PSPProcessingException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregisterPaymentInformation">
      <wsdl:input name="deregisterPaymentInformation" message="tns:deregisterPaymentInformation">
    </wsdl:input>
      <wsdl:output name="deregisterPaymentInformationResponse" message="tns:deregisterPaymentInformationResponse">
    </wsdl:output>
      <wsdl:fault name="PSPCommunicationException" message="tns:PSPCommunicationException">
    </wsdl:fault>
      <wsdl:fault name="PaymentDeregistrationException" message="tns:PaymentDeregistrationException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="determineRegistrationLink">
      <wsdl:input name="determineRegistrationLink" message="tns:determineRegistrationLink">
    </wsdl:input>
      <wsdl:output name="determineRegistrationLinkResponse" message="tns:determineRegistrationLinkResponse">
    </wsdl:output>
      <wsdl:fault name="PSPCommunicationException" message="tns:PSPCommunicationException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentServiceProviderServiceSoapBinding" type="tns:PaymentServiceProvider">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="determineReregistrationLink">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="determineReregistrationLink">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="determineReregistrationLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PSPCommunicationException">
        <soap:fault name="PSPCommunicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="charge">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="charge">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="chargeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PSPCommunicationException">
        <soap:fault name="PSPCommunicationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PSPProcessingException">
        <soap:fault name="PSPProcessingException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregisterPaymentInformation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deregisterPaymentInformation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deregisterPaymentInformationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PSPCommunicationException">
        <soap:fault name="PSPCommunicationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="PaymentDeregistrationException">
        <soap:fault name="PaymentDeregistrationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="determineRegistrationLink">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="determineRegistrationLink">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="determineRegistrationLinkResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="PSPCommunicationException">
        <soap:fault name="PSPCommunicationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentServiceProviderService">
    <wsdl:port name="PaymentServiceProviderPort" binding="tns:PaymentServiceProviderServiceSoapBinding">
      <soap:address location="http://localhost:9090/PaymentServiceProviderPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
